*, 
*::before, 
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


:root {
  font-size: 62.5%;
  height: 100%;
  width: 100%;

  /* custom properties */
  /* main color  */
  /* --primary-color: #014d4e; */
  --primary-color: #00173d;

  /* secondary color */
  /* --secondary-color: #ff9408; */
  --secondary-color: #e04802;
 

  /* secondary color modified  */
  /* --secondary-color-m: #ff94088e; */
  --secondary-color-m: #a13300;

  /* tertiary color  */
  /* --tertiary-color: #017374; */
  --tertiary-color: #cfcfcf;

  /* teriary color modified  */
  /* --tertiary-color-m: #01727498; */
  --tertiary-color-m: #a5a5a598;

}

li {
  list-style: none;
}

a:link, 
a:visited {
  text-decoration: none;
  color: white; 
  font-size: 1.5rem;
}



#App {
  display: flex;
  flex-direction: row-reverse;
}

body {
  font-family: 'Baloo Tamma 2', cursive;
  line-height: 1.8;

  display: flex;
}

#side-nav {
  position: sticky;
  display: flex;
  top: 0;
  left: 0; 
  height: 100vh;
  width: calc(3vw + 3vh);
  margin: 0;
}

.side-nav-content{
  height: 100%;
  width: calc(3vw + 3vh);

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  background-color: var(--primary-color);
}

.side-nav-content--logo img {
  width: calc(3vw + 3vh);
  object-fit: cover;
}

.side-nav-content--social {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

.side-nav-content--social a {
  font-size: calc(1rem + 1.06667vw);
  padding-bottom: calc(5rem + 1.06667vw);

  color: white;

  transition: color 0.35s cubic-bezier(0.68, -0.55, 0.265, 1.55) 
}


.side-nav-content--social a i:hover, 
.side-nav-content--social a i:active {
  color: var(--secondary-color)
}


/*********** Main content  *************/
main {
  flex: 1;
}

/********** Main Nav Header  **********/
#header {
  background-color: var(--secondary-color);
  height: calc(3vw + 3vh);
  width: calc(100vw - (3vw + 3vh));
  
  z-index: 2;
}

#header-main-nav {
  display: flex;
  flex-direction: row;
  align-content: center;
  height: 100%;
}

.header-main-nav-links {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
}

.header-main-nav-links li {
  padding-right: 3vw;

}

.header-main-nav-links li a {
  position: relative;
  padding: 0.2rem 0.6rem;
  font-size: calc(1rem+ 1.6667vw)
}

.header-main-nav-links li a:link::before, 
.header-main-nav-links li a:visited::before,
.header-main-nav-links li a:link::after, 
.header-main-nav-links li a:visited::after {
 content: '';
 position: absolute; 
 left: 0;
 width: 100%;
 height: 0.25rem;
 background-color: white;

 transform: scaleX(0);
 transition: transform 0.6s cubic-bezier(1, 0, 0, 1);
}

.header-main-nav-links li a:link::before, 
.header-main-nav-links li a:visited::before {
  top: 0;
  transform-origin: left;
}

.header-main-nav-links li a:link::after, 
.header-main-nav-links li a:visited::after {
  bottom: 0;
  transform-origin: right;
}

.header-main-nav-links li a:hover::before, 
.header-main-nav-links li a:active::before,
.header-main-nav-links li a:hover::after, 
.header-main-nav-links li a:active::after {
  transform: scaleX(1);
}